button {
  color: rgb(0, 0, 0);
  background-color: white;
}

h2 {
  color: white;
  text-align: center;
}
.abilities {
  color: white;
  background-color: rgb(57, 57, 57);
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 24px;
  border: 2px solid yellow;
  max-width: 1080px;
  margin: auto;
  text-align: center;
  list-style: none;
}
ul {
  color: white;
}

figure {
  text-align: center;
}

#return-btn {
  background-color: red;
  max-width: 1080px;
  margin: auto;
}
