* {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(225, 236, 22);
  text-align: center;
}
ul {
  color: white;
  cursor: pointer;
  flex-wrap: wrap;
  width: 450px;
  max-width: 1080px;
  margin: auto;
}

li {
  border: 1px solid white;
  list-style: none;
  color: white;
}

.width {
  max-width: 1080px;
  margin: auto;
}

img {
  width: 600px;
  height: 300px;
  margin-left: 250px;
}

#width {
  max-width: 1080px;
  margin: auto;
}
