* {
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  margin-left: 250px;
  width: 550px;
  height: 300px;
}

h4 {
  color: white;
}

.hp {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-radius: 24px;
  padding: 20px;
}

.pokemonlist {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: auto;
}

.pokemonlist {
  max-width: 1080px;
  margin: auto;
}

#width {
  max-width: 1080px;
  margin: auto;
}

i {
  color: tomato;
}

div a {
  color: white;
  text-decoration: none;
}

section {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 24px;
  border: 2px solid yellow;
}

.pokemon-name {
  text-align: center;
  padding-top: 50px;
}

.sprite {
  padding-left: 80px;
}

.sprite,
section,
h4,
a,
i,
.hp,
.pokemon-name {
  background-color: rgb(57, 57, 57);
}

figure a {
  color: white;
}
